doctype html
html(lang='en')
    include mixins

    head
        title Betting
        +favicon()
        +bootstrap_css()
        link( href='/css/betting.css', rel='stylesheet' )
body
  .container
    h1 Betting
    #betting-info
      p Loading...
    .row
      .col-md-6
        h2 Bets
        #betting-totals
          p Loading...
        h3#team-a-name Team A
        #team-a-table
          p Loading...
        h3#team-b-name Team B
        #team-b-table
          p Loading...
        #draw-bet-section(style='display: none;')
          h3#draw-name Draw
          #draw-table
            p Loading...
      .col-md-6
        h2 Ledger
        #ledger-table
          p Loading...
        h2 Table of Shame
        #shame-table
          p Loading...

  script( type='text/javascript', src='/js/betting.js')
