doctype html
html(lang='en')
    include mixins

    head
        title GT4CC Rankings

        meta( charset='utf-8' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )

        +favicon()
        +bootstrap_css()
        link( href='/css/ponkbot.css', rel='stylesheet' )
        link( href='/css/gt4cc.css', rel='stylesheet' )
body
  .container(style='margin-top: 20px;')
    h1 GT4CC Rankings
    
    ul#gt4ccTabs.nav.nav-tabs(role='tablist')
      li.active(role='presentation')
        a(href='#championship', aria-controls='championship', role='tab', data-toggle='tab') Championship
      li(role='presentation')
        a(href='#races', aria-controls='races', role='tab', data-toggle='tab') Races

    .tab-content(style='margin-top: 15px;')
      #championship.tab-pane.fade.in.active(role='tabpanel')
        h2 Championship Standings
        #championship-table
          p Loading...
      
      #races.tab-pane.fade(role='tabpanel')
        .row
          .col-md-4
            h2 Races
            #races-list.list-group
              p Loading...
          .col-md-8
            h2 Race Results
            #race-details
              p Select a race to see results

  +jquery()
  +bootstrap_js()
  script( type='text/javascript', src='/js/gt4cc.js')